python-dotenv
faiss-cpu==1.10.0
langchain
langchain_community
langchain_huggingface
langchain_openai
nltk
numpy
pandas
gensim
transformers
scikit-learn
sentence-transformers
pymupdf
dotenv
requests
langchain-core
langchain-openai
streamlit
fastapi
openai
langsmith
langchain-openai